<ul>
	<% @tasks.each do |task| %>
		<% distance = get_distance(task.latitude, task.longitude, 
			current_user.latitude, current_user.longitude) %>
		
		<li class="<%= task.status %>"><%= link_to "#{task.created_at.to_date}: #{task.subject},  
			$#{task.credits}, #{distance} mi, #{task.status}", task_url(task) %></li>	
		<br>
	<% end %>
</ul>
	
