<ul>
	<% @tasks.each do |task| %>
		<li class="<%= task.status %>"><%= link_to "#{task.subject}, #{task.created_at.to_date}, 
			#{task.status}, $#{task.credits}", task_url(task) %></li>	
		<br>
	<% end %>
</ul>
	
