<h3 style="color:green">Tasks history: Santa</h3>
<%= render partial: "list", locals: { tasks: @tasks } %>

<%= link_to "View Your Elf Task History", performed_tasks_url %><br>
<%= link_to "View All Tasks For Hire", available_tasks_url %>