<h3 style="color:green">All Bids Placed By <%= current_user.name %></h3>

<ul>
	<% @bids.each do |bid| %>
		<li><%= link_to "#{bid.time_bid.to_date}, #{bid.santa.name},  
			$#{bid.credits_bid}", bid_url(bid) %></li>	
		<br>
	<% end %>
</ul>