<h2 style="color:green">Specialties for <%= @user.name %></h2>

<ul>
	<% @user.specialties.each do |specialty| %>
		<li><%= link_to "#{specialty.name}", specialty_url(specialty) %></li>
		<% id = SpecJoin.find_by_user_id_and_spec_id(@user.id, specialty.id).id %>
		<%= button_to "Delete Specialty", spec_join_url(id), :data => { :confirm => "Are you sure you want to delete this skill?" }, :method => :delete %>
		<br>
	<% end %>
</ul>

<h3 style="color:red">Add additional specialties!</h3>
<%= button_to "Add Specialties", all_specialties_url, :method => :get %>

	
