/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require flat-ui
 *= require_self
 *= require_tree .
 */

body {
	font-family: helvetica, arial;
	background-color: #D9FFD9;
}

li {
	font-size: 16px;
}

head {
	font-family: helvetica, arial;
}

#sidebar {
float: left;
width: 40%;
background: #ccc;
min-height: 100%;
text-align: left;
}

#main {
float: right;
text-align: left;
width: 60%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: corbel, arial;
}

input, label{ 
	display: inline; 
}

img {
	opacity: 0.90;
	position: absolute;
	width: 300px;
  height: 600px;
	top: 100px;
	left: 50px;
	z-index: -1;
}

.requested a {
	color: green;
}

.booked a {
	color: red;
}

.completed a {
	color: black;
}

.needs_review a {
	color: blue;
}

/*  background-image: url("/assets/WillFerrellElf.jpg");*/
