<h2 style="color:green">Reviews authored by <%= @user.name %></h2>

<ul>
	<% @user.reviews_authored.each do |review| %>
		<li><%= link_to "#{review.task.subject}, #{review.task.time_final.to_date}", review_url(review) %></li><br>
	<% end %>
</ul>

<%= link_to "Back", :back %>
