<% if @user.rating %>
	<h3 style="color:red">Endorsement Rate: <%= (@user.rating * 100).round(0) %>%</h3>
<% end %>

<h2 style="color:green">Reviews for <%= @user.name %></h2>

<ul>
	<% @user.reviews_received.order("created_at DESC").each do |review| %>
		<li><%= link_to "#{review.created_at.to_date}, #{review.task.subject}" , review_url(review) %>
		<% if review.endorse %>
			&#x2605;
		<% end %>
		</li><br>
	<% end %>
</ul>

<% if @user == current_user %>
	<%= button_to "View Authored Reviews", authored_reviews_url, :method => :get, :class => "btn btn-large btn-inverse" %>
<% end %>

