<h1 style="color:green">Review for <%= @task.elf.name %></h1>

<form accept-charset="UTF-8" action="<%= task_reviews_url(@task) %>" class="new_review" id="new_review" method="post">
	<div style="margin:0;padding:0;display:inline">
		<input type="hidden" name="utf8" value="✓">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	</div>
	
	<input type="hidden" name="review[task_id]" value="<%= @task.id %>">
		
  <div><label for="review_title">Title (optional)</label><br>
  <input type="text" autofocus="autofocus" id="review_title" name="review[title]" size="40"></div>

  <div><label for="review_comments">Comments (optional)</label><br>
  <textarea id="review_comments" name="review[comments]" rows="2" cols="29"></textarea></div>

	<div><label for="review_endorse">Would Endorse</label>
	<input type="radio" id="review_endorse" name="review[endorse]" value=1></div>

	<div><label for="review_not_endorse">Would Not Endorse</label>
	<input type="radio" id="review_not_endorse" name="review[endorse]" value=0></div>
	<br>

  <div><input type="submit" name="commit" value="Create"></div>
</form>